*/migrations/*

.DS_Store
**/.DS_Store
*/__pycache__/*
*/*/*.pyc
*/*.pyc
*.pyc
.vscode
.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# ./src/static/*
# */static/
.postgres.env.list
.pgadmin.env.list
.env