argcomplete==1.10.0
astroid==2.3.2
awscli==1.16.274
awsebcli==3.15.3
beautifulsoup4==4.8.1
blessed==1.16.1
botocore==1.12.253
bs4==0.0.1
cached-property==1.5.1
cement==2.8.2
certifi==2019.9.11
chardet==3.0.4
colorama==0.3.9
dialite==0.5.2
Django==2.2.6
django-debug-toolbar==2.1
django-debugtools==1.7.4
docker==3.7.3
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
docx2txt==0.8
EB==0.1.5
EbookLib==0.17.1
extract-msg==0.23.1
flexx==0.8.0
future==0.16.0
html5lib==1.0.1
idna==2.7
IMAPClient==2.1.0
isort==4.3.21
jmespath==0.9.4
jsonschema==2.6.0
lazy-object-proxy==1.4.3
lxml==4.4.1
mccabe==0.6.1
nltk==3.4.5
olefile==0.46
pathspec==0.5.9
pdfminer.six==20181108
Pillow==6.2.1
pscript==0.7.1
psycopg2-binary==2.8.3
pyasn1==0.4.7
pycryptodome==3.9.0
pyenchant==2.0.0
pylint==2.4.3
PyPDF2==1.26.0
python-dateutil==2.8.0
python-pptx==0.6.18
pytz==2019.3
PyYAML==5.1
requests==2.20.1
rsa==3.4.2
s3transfer==0.2.1
semantic-version==2.5.0
six==1.11.0
sortedcontainers==2.1.0
soupsieve==1.9.4
SpeechRecognition==3.8.1
sqlparse==0.3.0
termcolor==1.1.0
textract==1.6.3
texttable==0.9.1
tornado==6.0.3
typed-ast==1.4.0
tzlocal==1.5.1
urllib3==1.24.3
utils==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
webruntime==0.5.6
websocket-client==0.56.0
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.2
