{% extends 'intern_base.html' %}

{% block page_title %}

Artists

{% endblock %}

{% block page_breadcrumb %}

Artists -> List

{% endblock %}

{% block content %}

{% load static %}
<style>
    .list-group-item {
        padding-top: 20px;
    }
</style>

<div class="row col-md-9" style="margin-left: 3px">
    <form method="POST" name="search_songs_form" id="login_form" action="{% url 'songs_search' %}" role="search">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search" name="search_text" id="search_text" type="text">
            <div class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
<div>
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-body">
                <div class="list-group">
                    <div class="row">
                        {% if artists %}
                            {% for artist in artists %}
                                <a href="{% url 'artist' artist.id %}" class="list-group-item">
                                    <div>
                                        <h4>{{ artist.name }}</h4>
                                        <span><strong>Artist:</strong> <span class="">{{ artist.name }}</span></span>
                                        <span><strong>Genre:</strong> Frios Completa</span>
                                        <span><strong>Topics:</strong> R$ 9.450,00</span>
                                    </div>
                                </a>
                              
                            {% endfor %}
                        {% else %}
                            <div class="col-md-12">
                                <p>No Artists Available</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if artists.has_other_pages %}
                        <ul class="pagination">
                            {% if artists.has_previous %}
                            <li class="page-item">
                                <a href="?page={{artists.previous_page_number}}" class="page-link">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&laquo;</a>
                            </li>
                            {% endif %}
                            {% for i in artists.paginator.page_range %}
                            {% if artists.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if artists.has_next %}
                            <li class="page-item">
                                <a href="?page={{artists.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="background-color: rgba(245, 245, 245, 0.938); height: 100%; position: inline;">

    </div>
</div>

      
{% endblock %}