<div id="message_ajax_modal" class="container" style="width: 70%">

    <div style="display:none" id="error_message_div" class="alert alert-danger alert-dismissible text-center"
        role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong id="bold_word">
        </strong>
        <span id="message_text"></span>
    </div>

    <div style="display:none" id="success_message_div" class="alert alert-danger alert-dismissible text-center"
        role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
        <strong id="bold_word">
        </strong>
        <span id="message_text"></span>
    </div>
</div>