option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iotd.settings"
    "PYTHONPATH": "/Users/felipedeoliveira/Documents/docker-django-master/:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src/mydjango/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
