option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iotd.settings"
    "PYTHONPATH": "/opt/python/current/app/sos-music-project:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src/mydjango/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "src/static/": "www/static/"
