{% extends 'intern_base.html' %}

{% block page_title %}

List of Songs

{% endblock %}

{% block content %}

{% load static %}
<style>
    .list-group-item {
        padding-top: 20px;
    }
</style>



<div class="row col-md-9" style="margin-left: 3px">
    <form method="POST" name="search_songs_form" id="search_songs_form" action="{% url 'songs_search' %}" role="search">
        <div class="input-group add-on">
            {% csrf_token %}
            <input class="form-control" placeholder="Search" name="search_text" id="search_text" type="text">
            <div class="input-group-btn">
                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
<div>
    <div class="col-md-9">
        <div class="panel">
            <div class="panel-body">
                <div class="list-group">
                    <div class="row">
                        {% if songs %}
                        {% for song in songs %}
                        <a href="{% url 'song' song.id %}" class="list-group-item">
                            <div>
                                <h4>{{ song.title }}</h4>
                                <span><strong>Artist:</strong> <span class="">{{ song.artist.name }}</span></span>
                                <span><strong>Genre:</strong> Frios Completa</span>
                                <span><strong>Topics:</strong> R$ 9.450,00</span>
                            </div>
                        </a>

                        {% endfor %}
                        {% else %}
                        <div class="col-md-12">
                            <p>No Listings Available</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if songs.has_other_pages %}
                        <ul class="pagination">
                            {% if songs.has_previous %}
                            <li class="page-item">
                                <a href="?page={{songs.previous_page_number}}" class="page-link">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&laquo;</a>
                            </li>
                            {% endif %}
                            {% for i in songs.paginator.page_range %}
                            {% if songs.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if songs.has_next %}
                            <li class="page-item">
                                <a href="?page={{songs.next_page_number}}" class="page-link">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">&raquo;</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="background-color: rgba(245, 245, 245, 0.938); height: 100%; position: inline;">

    </div>
</div>

{% endblock %}